@model IEnumerable<SGRH.Web.Models.ServiceModule.ServiceModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Services List</h1>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Create">Create Service</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.serviceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.serviceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.serviceId }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.serviceId }, new { @class = "btn btn-success btn-sm" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.serviceId }, new { @class = "btn btn-danger btn-sm" })
                </td>

            </td>
        </tr>
}
    </tbody>
</table>
