@model IEnumerable<SGRH.Web.Models.Hotel.Room.RoomModel>

@{
    ViewData["Title"] = "Index";
}

<h1>List of All Active Rooms</h1>

<p>
    <a asp-action="Create">Create New Room</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.roomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.floorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomImgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.roomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.floorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomImgUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.roomId  }) |
                @Html.ActionLink("Details", "Details", new { id=item.roomId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.roomId }) |
            </td>
        </tr>
}
    </tbody>
</table>
