@model IEnumerable<SGRH.Application.Dtos.Hotel.Rate.RateDto>

@{
    ViewData["Title"] = "Rates";
}

<h1>List of Active Rates</h1>
<p>
    <a asp-action="Create">Create New Rate</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.RateId)</th>
            <th>@Html.DisplayNameFor(model => model.CategoryId)</th>
            <th>@Html.DisplayNameFor(model => model.SeasonId)</th>
            <th>@Html.DisplayNameFor(model => model.NightPrice)</th>
            <th>@Html.DisplayNameFor(model => model.IsActive)</th>
            <th>@Html.DisplayNameFor(model => model.IsDeleted)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
            <th>@Html.DisplayNameFor(model => model.UpdatedBy)</th>
            <th>@Html.DisplayNameFor(model => model.UpdatedAt)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RateId)</td>
                <td>@Html.DisplayFor(modelItem => item.CategoryId)</td>
                <td>@Html.DisplayFor(modelItem => item.SeasonId)</td>
                <td>@Html.DisplayFor(modelItem => item.NightPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                <td>@Html.DisplayFor(modelItem => item.IsDeleted)</td>
                <td>@item.CreatedAt.ToString("yyyy-MM-dd")</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdatedBy)</td>
                <td>@item.UpdatedAt?.ToString("yyyy-MM-dd")</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RateId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RateId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RateId })
                </td>
            </tr>
        }
    </tbody>
</table>
